@tailwind base;
@tailwind components;
@tailwind utilities;

#RED {
    background-color:rgba(255,0,0,1);
}

#BLACK {
    background-color: rgba(0,0,0,1);
}

#BLUE {
    background-color: rgba(0,0,255,1);
}

#WHITE {
    background-color: rgba(255,255,255,1);
}

#PURPLE {
    background-color: rgba(128,0,128,1);
}

#ORANGE {
    background-color: rgba(255,165,0,1);
}

#TURQUOISE {
    background-color: rgba(64,224,208,1);
}

#YELLOW {
    background-color: rgba(255,255,0,1);
}

#loading_anime {
     animation: rotation 2s linear infinite;
     
}

.submit-popup {
    font-size: 20px;
    font-weight: bold;
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotation {
  0% {
    transform: scale(1) rotate(0deg);
    color: white;
  }

  50% {
    background: red;
    color: black;
  }

  100% {
    transform: scale(1) rotate(360deg);
    background: blue;
    color: white;
  }
}

html {
    overflow-x: hidden;
    font-size: 16px
}


#user_side_pane {
    width: 200px;

}

nav {
    height: 34px;
}

textarea {
    resize: none;
}

.usercomment {
    width: calc(100% - 9rem)
}

.detail-commentlist {
    height: calc(100% - 12rem);
    margin-bottom: -12rem;
    padding-bottom: 12rem;
}

.post-timeline:hover + .comment-timeline {
    display: block;
}

.comment-timeline:hover {
    display: block;
}

.wrap-page-share{
    padding-top: 34px;
    margin-top: -34px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.pane-share {
    width: 100vw;
    height: calc(100vh - 34px - 40px);
}

.wrap-color {
    background: rgb(249,255,72);
    background: -moz-radial-gradient(circle, rgba(249,255,72,1) 0%, rgba(255,176,130,1) 29%, rgba(255,101,101,0.682741116751269) 100%);
    background: -webkit-radial-gradient(circle, rgba(249,255,72,1) 0%, rgba(255,176,130,1) 29%, rgba(255,101,101,0.682741116751269) 100%);
    background: radial-gradient(circle, rgba(249,255,72,1) 0%, rgba(255,176,130,1) 29%, rgba(255,101,101,0.682741116751269) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9ff48",endColorstr="#ff6565",GradientType=1);
}

.borderbox4 {
    margin: -4px;
}

.timeline-info{
    height: 56px;
}

.timeline-main {
    height: calc(100vh - 34px - 68px);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@media screen and (min-width : 640px) {

    .wrap-page-share{
    padding-top: 42px;
    margin-top: -42px;
    padding-bottom: 40px;
    margin-bottom: -40px;
    }
    
    nav {
    height: 42px;
    }

    footer {
    height: 40px;
    }
    
    .pane-share {
    width: 100vw;
    height: calc(100vh - 82px - 48px);
    }
    
    .timeline-info{
    height: 56px;
    }
    
    .timeline-main {
        height: calc(100vh - 42px - 68px);
        padding-bottom: 40px;
        margin-bottom: -40px;
    }

}


@media screen and (min-width : 768px) {
    .wrap-page-share{
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 40px;
    margin-bottom: -40px;
    }
    
    nav {
    height: 50px;
    }

    footer {
    height: 40px;
    }
    
    .pane-share {
    width: calc(100vw - 200px);
    height: calc(100vh - 90px - 72px);
    }
    
    .timeline-info{
    height: 60px;
    }
    
    .timeline-main {
        height: calc(100vh - 50px - 88px);
        padding-bottom: 40px;
        margin-bottom: -40px;
    }

}