@tailwind base;
@tailwind components;
@tailwind utilities;

#RED {
    background-color:rgba(255,0,0,1);
}

#BLACK {
    background-color: rgba(0,0,0,1);
}

#BLUE {
    background-color: rgba(0,0,255,1);
}

#WHITE {
    background-color: rgba(255,255,255,1);
}

#PURPLE {
    background-color: rgba(128,0,128,1);
}

#ORANGE {
    background-color: rgba(255,165,0,1);
}

#TURQUOISE {
    background-color: rgba(64,224,208,1);
}

#YELLOW {
    background-color: rgba(255,255,0,1);
}

#loading_anime {
     animation: rotation 2s linear infinite;
     
}

@keyframes rotation {
  0% {
    transform: scale(1) rotate(0deg);
    color: white;
  }

  50% {
    background: red;
    color: black;
  }

  100% {
    transform: scale(1) rotate(360deg);
    background: blue;
    color: white;
  }
}

html {
    overflow-x: hidden;
    min-width: 520px;
}


#user_side_pane {
    width: 200px;

}

nav {
    height: 34px;
}

.wrap-page-share{
    padding-top: 34px;
    margin-top: -34px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.pane-share {
    width: 100vw;
    height: calc(100vh - 34px - 40px);
}

.borderbox4 {
    margin: -4px;
}

@media screen and (min-width : 640px) {

    .wrap-page-share{
    padding-top: 42px;
    margin-top: -42px;
    padding-bottom: 40px;
    margin-bottom: -40px;
    }
    
    nav {
    height: 42px;
    }

    footer {
    height: 40px;
    }
    
    .pane-share {
    width: 100vw;
    height: calc(100vh - 82px - 48px);
    padding-bottom: 40px;
    margin-bottom: -40px;
    }

}


@media screen and (min-width : 768px) {
    .wrap-page-share{
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 40px;
    margin-bottom: -40px;
    }
    
    nav {
    height: 50px;
    }

    footer {
    height: 40px;
    }
    
    .pane-share {
    width: calc(100vw - 200px);
    height: calc(100vh - 90px - 72px);
    padding-bottom: 40px;
    margin-bottom: -40px;
    }

}

